.page-section .excom img
{
    width: 80%;
    height: auto;
}
.page-section
{
    margin-bottom: 10px;
}
.page-section p
{
    font-size: 20px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.page-section .image img
{
    border-radius: 10px;
}
.logos
{
    background-color: black;
    padding: 50px 50px;
}
.logos img
{
    width: 100px;
    height: auto;
    margin: auto;
}
