.sectionpro
{
   padding:30px 500px;
   border-radius: 250px;
}
.sectionpro img
{
  border-radius: 30px;
}
@media only screen and (max-width: 1800px) {
    .sectionpro
    {
        padding:30px 300px;
        border-radius: 250px;
    }
  }
@media only screen and (max-width: 1500px) {
    .sectionpro
    {
        padding:30px 150px;
        border-radius: 250px;
    }
}
@media only screen and (max-width: 1200px) {
    .sectionpro
    {
        padding:30px 40px;
        border-radius: 250px;
    }
  }

  .textofcaro
  {
    font-family: Raleway, Fallback, sans-serif;
    text-align: center;
  }